<head>

</head>


<!--  
    <nav class="navbar navbar-dark bg-primary">
      <nav>
        <a href="homePage.html">Home</a>
        <a href="aboutUs.html">About Us</a>
        <nav class="dropdown">
          <nav class="dropbtn">Dog Breeds</nav>
          <div class="dropdown-content">
            <a href="homePage.html">Sporting</a>
            <a href="aboutUs.html">Non-Sporting</a>
            <a href="aboutUs.html">Hound</a>
            <a href="aboutUs.html">Working</a>
            <a href="aboutUs.html">Terrier</a>
            <a href="aboutUs.html">Toy</a>
            <a href="aboutUs.html">Hearding</a>
          </div>
        </nav>
  
      <nav class="dropdown">
        <nav class="dropbtn">Bird breeds</nav>
        <div class="dropdown-content">
          <a href="homePage.html">Parrots</a>
          <a href="aboutUs.html">Lovebirds</a>
        </div>
      </nav>
  
      <a href="quiz.html">Quizes</a>
    </nav>
  </nav>
-->
<!--<nav>
    <a href="homePage.html">Home</a>
    <a href="aboutUs.html">About Us</a>
    <nav class="dropdown">
      <nav class="dropbtn">Dog Breeds</nav>
      <div class="dropdown-content">
        <a href="homePage.html">Sporting</a>
        <a href="aboutUs.html">Non-Sporting</a>
        <a href="aboutUs.html">Hound</a>
        <a href="aboutUs.html">Working</a>
        <a href="aboutUs.html">Terrier</a>
        <a href="aboutUs.html">Toy</a>
        <a href="aboutUs.html">Hearding</a>
      </div>
 
</nav>

  <nav class="dropdown">
      <nav class="dropbtn">Bird breeds</nav>
      <div class="dropdown-content">
        <a href="homePage.html">Parrots</a>
        <a href="aboutUs.html">Lovebirds</a>
      </div>
    </nav>
  -->
<body>
  <div class="container">

    
    <div class="row">
      <div class="col-sm"
     >
      <nav>
        <a href="homePage.html">Home</a>
        <a href="aboutUs.html">About Us</a>
        <nav class="dropdown">
          <nav class="dropbtn">Dog Breeds</nav>
          <div class="dropdown-content">
            <a href="homePage.html">Sporting</a>
            <a href="aboutUs.html">Non-Sporting</a>
            <a href="aboutUs.html">Hound</a>
            <a href="aboutUs.html">Working</a>
            <a href="aboutUs.html">Terrier</a>
            <a href="aboutUs.html">Toy</a>
            <a href="aboutUs.html">Hearding</a>
          </div>
        </nav>
    
        <nav class="dropdown">
          <nav class="dropbtn">Bird breeds</nav>
          <div class="dropdown-content">
            <a href="homePage.html">Parrots</a>
            <a href="aboutUs.html">Lovebirds</a>
          </div>
        </nav>
    
        <a href="quiz.html">Quizes</a>
      </nav>      </div>
      
    </div>


      <!---<div class= "row">

    <div class="col"
      style="border:1px solid red;">
        Column 1
      </div>
      
    
  </div>   -->




    </div>
        
    
  

  
 

  


  
 
</body>
 


  <!--
    
    RECENT ATTEMPT
    <nav class="navbar navbar-expand-lg">
      <a href="homePage.html">Home</a>
      <a href="aboutUs.html">About Us</a>
      <nav >

      

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dog Breeds
          </a>
        
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="homePage.html">Sporting</a>
          <a class="dropdown-item" href="aboutUs.html">Non-Sporting</a>
          <a class="dropdown-item" href="aboutUs.html">Hound</a>
          <a class="dropdown-item" href="aboutUs.html">Working</a>
          <a class="dropdown-item" href="aboutUs.html">Terrier</a>
          <a class="dropdown-item" href="aboutUs.html">Toy</a>
          <a class="dropdown-item" href="aboutUs.html">Hearding</a>
        </div>
   
  </nav>
  
    <nav>
        <nav >Bird breeds</nav>
        <div>
          <a href="homePage.html">Parrots</a>
          <a href="aboutUs.html">Lovebirds</a>
        </div>
      </nav> 
    -->