

<nav>
    <a href="homePage.html">Home</a>
    <a href="aboutUs.html">About Us</a>
    <nav class="dropdown">
      <nav class="dropbtn">Dog Breeds</nav>
      <div class="dropdown-content">
        <a href="homePage.html">Sporting</a>
        <a href="aboutUs.html">Non-Sporting</a>
        <a href="aboutUs.html">Hound</a>
        <a href="aboutUs.html">Working</a>
        <a href="aboutUs.html">Terrier</a>
        <a href="aboutUs.html">Toy</a>
        <a href="aboutUs.html">Hearding</a>
      </div>
 
</nav>

<nav class="dropdown">
  <nav class="dropbtn">Bird breeds</nav>
  <div class="dropdown-content">
    <a href="homePage.html">Parrots</a>
    <a href="aboutUs.html">Lovebirds</a>
  </div>
</nav>
