button {
    background-color: rgb(217, 142, 236);
    background-image: linear-gradient(purple, pink);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    size: 50px;
  }
  
  h1 {
    font-size: 50px;
    background-image: linear-gradient(rgb(173, 142, 173), pink);
  }
  
 

  button{
    border-radius:50%;
    

  }

  li{
    text-align: center;
  }
  

  
  
  
  img{
    border: dashed rgb(155, 119, 147);
    width: 50px;
    height: 50px; 
    margin: auto;
    size :100px;
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


    
    border-radius: 4px;
    padding: 5px;
    width: 150px;


 
    
  
  
  /*width: 175px;
  height: 175px;
  object-fit: cover;/**test this